{% extends "app_0/base.html" %}
{% block content %}
<section class="mbr-section content5 cid-rZErjPIFme mbr-parallax-background" id="content5-7">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">Kerala IT Division</h2>
                <h3 class="mbr-section-subtitle align-center mbr-light mbr-white pb-3 mbr-fonts-style display-5">
                    Apply your certificates from here &amp; save time</h3>


            </div>
        </div>
    </div>
</section>
<section class="features11 cid-rZEqs6825A" id="features11-6">
    <div class="container">
        <div class="col-md-12">
            <div class="media-container-row">
                <div class="mbr-figure m-auto" style="width: 60%;">
                    <h3>Kerala E-District project intend to provide Government services to citizens through Common
                        Service Centers(CSC) which are easily accessible. Services from different departments are
                        brought under one umbrella at any CSC. In a nutshell Edistrict is a tailor made program for
                        minimizing effort and time to provide prompt and effective services to the public.</h3>
                </div>
                <div class=" align-left aside-content">
                    <h2 class="mbr-title pt-2 mbr-fonts-style display-2">
                        News feed</h2>
                    <div class="mbr-section-text">

                    </div>

                    <div class="block-content" style="height: 250px;overflow-y: scroll;scroll-behavior: smooth;">
                        {% for item in notifications %}
                        <div class="card p-3 pr-3">
                            <div class="media">

                                <div class="media-body">
                                    <h4 class="card-title mbr-fonts-style display-7">{{ item.title }}</h4>
                                </div>
                            </div>

                            <div class="card-box">
                                <p class="block-text mbr-fonts-style display-7">{{ item.message }}</p>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
