{% extends "app_0/base.html" %}
{% block content %}
<section class="mbr-section form1 cid-rZEti34JiZ" id="form1-9">


    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    Ration Card Application
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                    Please fill all fields
                </h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8">
                <!---Formbuilder Form--->
                <form method="post" enctype="multipart/form-data" class="mbr-form form-with-styler">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <label>Personal Info:</label>
                            <hr>
                        </div>
                        <div class="col-md-4  form-group" data-for="name">
                            <label for="name-form1-9" class="form-control-label mbr-fonts-style display-7">Name</label>
                            <input type="text" name="name" data-form-field="Name" required="required"
                                   class="form-control display-7" id="name-form1-9">
                        </div>
                        <div class="col-md-4  form-group" data-for="email">
                            <label for="email-form1-9"
                                   class="form-control-label mbr-fonts-style display-7">Email</label>
                            <input type="email" name="email" data-form-field="Email" required="required"
                                   class="form-control display-7" id="email-form1-9">
                        </div>
                        <div data-for="phone" class="col-md-4  form-group">
                            <label for="phone-form1-9"
                                   class="form-control-label mbr-fonts-style display-7">Phone</label>
                            <input type="tel" name="phone" data-form-field="Phone" class="form-control display-7"
                                   id="phone-form1-9">
                        </div>
                        <div class="col-md-12">
                            <label>Ration Card Details:</label>
                            <hr>
                        </div>
                        <div class="col-md-4 form-group" data-for="pmc">
                            <label for="pmc">Panchayath/Corporation</label>
                            <input type="text" name="" data-form-field="pmc" class="form-control display-7" id="pmc">
                        </div>
                        <div class="col-md-4 form-group" data-for="taluk">
                            <label for="taluk">Taluk</label>
                            <input type="text" name="" data-form-field="taluk" class="form-control display-7"
                                   id="taluk">
                        </div>
                        <div class="col-md-4 form-group" data-for="ward">
                            <label for="ward">Ward No</label>
                            <input type="text" name="" data-form-field="ward" class="form-control display-7" id="ward">
                        </div>
                        <div class="col-md-4 form-group" data-for="c-name">
                            <label for="c-name">Card Holder Name</label>
                            <input type="text" name="" data-form-field="c-name" class="form-control display-7"
                                   id="c-name">
                        </div>
                        <div class="col-md-4 form-group" data-for="hname">
                            <label for="hname">House Name</label>
                            <input type="text" name="" data-form-field="hname" class="form-control display-7"
                                   id="hname">
                        </div>
                        <div class="col-md-4 form-group" data-for="pic">
                            <label for="pic">Holder Photo</label>
                            <input type="file" name="" data-form-field="pic" class="form-control display-7"
                                   id="pic">
                        </div>
                        <div data-for="message" class="col-md-6 form-group">
                            <label for="message-form1-9"
                                   class="form-control-label mbr-fonts-style display-7">Address</label>
                            <input type="text" name="message" data-form-field="Message" class="form-control display-7"
                                   id="message-form1-9">
                        </div>
                        <div class="col-md-6 form-group" data-for="hnumber">
                            <label for="hnumber">House Number</label>
                            <input type="text" name="" data-form-field="hnumber" class="form-control display-7"
                                   id="hnumber">
                        </div>
                        <div class="col-md-4 form-group" data-for="pincode">
                            <label for="pincode">pin code</label>
                            <input type="text" name="" data-form-field="pincode" class="form-control display-7"
                                   id="pincode">
                        </div>
                        <div class="col-md-4 form-group" data-for="annual-income">
                            <label for="annual-income">Annual Income</label>
                            <input type="number" name="" data-form-field="annual-income" class="form-control display-7"
                                   id="annual-income">
                        </div>
                        <div class="col-md-12">
                            <label>Members Details:</label>
                            <hr>
                        </div>
                        <!--Member-->
                        <div class="col-md-2 form-group" data-for="u1name">
                            <label for="u1name">Name</label>
                            <input type="text" name="" data-form-field="u1name" class="form-control display-7"
                                   id="u1name">
                        </div>
                        <div class="col-md-2 form-group" data-for="u1dob">
                            <label for="u1dob">DOB</label>
                            <input type="date" name="" data-form-field="u1dob" class="form-control display-7"
                                   id="u1dob">
                        </div>
                        <div class="col-md-2 form-group" data-for="u1income">
                            <label for="u1income">Income</label>
                            <input type="number" name="" data-form-field="u1income" class="form-control display-7"
                                   id="u1income">
                        </div>
                        <div class="col-md-2 form-group" data-for="u1gender">
                            <label for="u1gender">Gender</label>
                            <select data-form-field="u1gender" class="form-control display-7" id="u1gender">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="col-md-2 form-group" data-for="u1relation">
                            <label for="u1relation">Relation</label>
                            <input type="text" name="" data-form-field="u1relation" class="form-control display-7"
                                   id="u1relation">
                        </div>
                        <div class="col-md-2 form-group" data-for="u1adhar">
                            <label for="u1adhar">Adhar No</label>
                            <input type="text" name="" data-form-field="u1adhar" class="form-control display-7"
                                   id="u1adhar">
                        </div>
                        <!--Member-->
                        <div class="col-md-2 form-group" data-for="u2name">
                            <label for="u2name">Name</label>
                            <input type="text" name="" data-form-field="u2name" class="form-control display-7"
                                   id="u2name">
                        </div>
                        <div class="col-md-2 form-group" data-for="u2dob">
                            <label for="u2dob">DOB</label>
                            <input type="date" name="" data-form-field="u2dob" class="form-control display-7"
                                   id="u2dob">
                        </div>
                        <div class="col-md-2 form-group" data-for="u2income">
                            <label for="u2income">Income</label>
                            <input type="text" name="" data-form-field="u2income" class="form-control display-7"
                                   id="u2income">
                        </div>
                        <div class="col-md-2 form-group" data-for="u2gender">
                            <label for="u2gender">Gender</label>
                            <select data-form-field="u2gender" class="form-control display-7" id="u2gender">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="col-md-2 form-group" data-for="u2relation">
                            <label for="u2relation">Relation</label>
                            <input type="text" name="" data-form-field="u2relation" class="form-control display-7"
                                   id="u2relation">
                        </div>
                        <div class="col-md-2 form-group" data-for="u2adhar">
                            <label for="u2adhar">Adhar No</label>
                            <input type="text" name="" data-form-field="u2adhar" class="form-control display-7"
                                   id="u2adhar">
                        </div>
                        <!--Member-->
                        <div class="col-md-2 form-group" data-for="u3name">
                            <label for="u3name">Name</label>
                            <input type="text" name="" data-form-field="u3name" class="form-control display-7"
                                   id="u3name">
                        </div>
                        <div class="col-md-2 form-group" data-for="u3dob">
                            <label for="u3dob">DOB</label>
                            <input type="date" name="" data-form-field="u3dob" class="form-control display-7"
                                   id="u3dob">
                        </div>
                        <div class="col-md-2 form-group" data-for="u3income">
                            <label for="u3income">Income</label>
                            <input type="text" name="" data-form-field="u3income" class="form-control display-7"
                                   id="u3income">
                        </div>
                        <div class="col-md-2 form-group" data-for="u3gender">
                            <label for="u3gender">Gender</label>
                            <select data-form-field="u3gender" class="form-control display-7" id="u3gender">
                                <option>Male</option>
                                <option>Female</option>
                            </select>
                        </div>
                        <div class="col-md-2 form-group" data-for="u3relation">
                            <label for="u3relation">Relation</label>
                            <input type="text" name="" data-form-field="u3relation" class="form-control display-7"
                                   id="u3relation">
                        </div>
                        <div class="col-md-2 form-group" data-for="u3adhar">
                            <label for="u3adhar">Adhar No</label>
                            <input type="text" name="" data-form-field="u3adhar" class="form-control display-7"
                                   id="u3adhar">
                        </div>
                        <div class="col-md-12 input-group-btn align-center">
                            <button type="submit" class="btn btn-primary display-4">Apply</button>
                        </div>
                    </div>
                </form><!---Formbuilder Form--->
            </div>
        </div>
    </div>
</section>

{% endblock %}
