<section class="mbr-section form1 cid-rZEti34JiZ" id="form1-9">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="center mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                    <center>
                        {{ type }} Certificate
                    </center>
                </h2>
                <!-- <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-5">
                    Please fill all fields
                </h3> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="media-container-column col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <b>{{ content }}</b>
                        <br>
                        <br>
                        <span style="float: right;">Signature: (Digitally signed)</span>
                        <br>
                        <span>Date  :  {% now "jS F Y H:i" %}</span>
                        <br>
                        <span style="float: right;">Designation: Village Officer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
